{% extends "layout.jinja" %}

{% block title %}
change password
{% endblock %}

{% block main %}
<link href="/static/styles/auth.css" rel="stylesheet">
<form action="/change_password" method="post">
    <p class="form-title">Change Password</p>
    <input name="password" placeholder="Enter password" type="password" required>
    <input name="confirmation" placeholder="Confirm password" type="password" required>
    <button class="submit" type="submit">Confirm</button>
    <button onclick="window.history.back()"
        style="padding: 0.5rem 1rem; border-radius: 0.5rem; border: none; cursor: pointer; margin-top: 1rem;">
        Go Back
    </button>
</form>
{% endblock %}