{% extends "layout.jinja" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<link href="/static/styles/auth.css" rel="stylesheet">
<form action="/login" method="post">
    <p class="form-title">Sign in to your account</p>
    <input autocomplete="off" autofocus name="email" placeholder="Enter Email" type="email" required>
    <input name="password" placeholder="Enter password" type="password" required>
    <button type="submit" class="submit">
        Login
    </button>

    <p class="signup-link">
        No account?
        <a href="/register">Sign up</a>
    </p>
</form>
{% endblock %}