{% extends "admin/fill.jinja" %}

{% block fields %}
<tr>
    <td><label for="glucose">Plasma glucose concentration:</label></td>
    <td><input type="number" name="glucose" min="0" required></td>
</tr>
<tr>
    <td><label for="blood_pressure">Diastolic blood pressure (mm Hg):</label></td>
    <td><input type="number" name="blood_pressure" min="0" required></td>
</tr>
<tr>
    <td><label for="skin_thickness">Triceps skin fold thickness (mm):</label></td>
    <td><input type="number" name="skin_thickness" min="0" required></td>
</tr>
<tr>
    <td><label for="insulin">2-Hour serum insulin (mu U/ml):</label></td>
    <td><input type="number" name="insulin" min="0" required></td>
</tr>
<tr>
    <td><label for="pedigree">Diabetes pedigree function:</label></td>
    <td><input type="number" name="pedigree" min="0" required step="any"></td>
</tr>
{% endblock fields %}