{% extends "admin/fill.jinja" %}

{% block fields %}
<tr>
    <td><label for="chest_pain">Chest Pain Type:</label></td>
    <td>
        <select name="chest_pain" required>
            <option value="TA">Typical Angina</option>
            <option value="ATA">Atypical Angina</option>
            <option value="NAP">Non-Anginal Pain</option>
            <option value="ASY">Asymptomatic</option>
        </select>
    </td>
</tr>
<tr>
    <td><label for="blood_pressure">Blood Pressure (mm Hg):</label></td> <!-- trestbps -->
    <td><input type="number" name="trestbps" required></td>
</tr>
<tr>
    <td><label for="cholesterol">Cholesterol (mg/dl):</label></td>
    <td><input type="number" name="cholesterol" required></td>
</tr>
<tr>
    <td><label for="fasting_blood_sugar">Fasting Blood Sugar (mg/dl):</label></td>
    <td><input type="number" name="fasting_blood_sugar" required></td>
</tr>
<tr>
    <td><label for="resting_ECG">Resting ECG:</label></td>
    <td>
        <select name="resting_ECG" required>
            <option value="Normal">Normal</option>
            <option value="ST">ST-T Wave Abnormality</option>
            <option value="LVH">Left Ventricular Hypertrophy</option>
        </select>
    </td>
</tr>
<tr>
    <td><label for="max_heart_rate">Max Heart Rate:</label></td> <!-- thalach -->
    <td><input type="number" name="max_heart_rate" required></td>
</tr>
<tr>
    <td><label for="oldpeak">ST Depression:</label></td>
    <td><input type="number" name="oldpeak" required></td>
</tr>
<tr>
    <td><label for="slope">Slope of the Peak Exercise ST Segment:</label></td>
    <td>
        <select name="slope" required>
            <option value="Up">Upsloping</option>
            <option value="Flat">Flat</option>
            <option value="Down">Downsloping</option>
        </select>
    </td>
</tr>
<tr>
    <td><label for="major_vessels">Number of Major Vessels:</label></td> <!-- ca -->
    <td>
        <select name="major_vessels" required>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </td>
</tr>
<tr>
    <td><label for="thal_rate">Thal Rate:</label></td>
    <td>
        <select name="thal_rate" required>
            <option value="normal">Normal</option>
            <option value="fixed_defect">Fixed Defect</option>
            <option value="reversible_defect">Reversible Defect</option>
        </select>
    </td>
</tr>
{% endblock fields %}