{% extends "admin/fill.jinja" %}

{% block fields %}
<tr>
    <td><label for="glucose">Average glucose level in blood:</label></td>
    <td><input type="number" name="glucose" min="0" required></td>
</tr>
<tr>
    <td colspan="2">
        <input type="checkbox" name="hypertension">
        <label for="hypertension">Hypertension</label>
    </td>
</tr>
{% endblock fields %}