{% extends "layout.html" %}

{% block title %}
Information
{% endblock %}

{% set tab = 0 %}

{% block main %}
<link rel="stylesheet" href="/static/form.css">
<h2>User Information</h1>
    <form action="/" method="post">
        <div>
            <label for="full_name">Full Name</label><br>
            <input type="text" id="full_name" name="full_name" class="form-control">
            <br><br>
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" class="form-control">
            <br><br>
            <label for="birth_year">Birth Year: </label>
            <input type="number" id="birth_year" name="birth_year" min="1900" max="2024" class="form-control">
            <br><br>
            <label>Gender:</label><br>
            <input type="radio" id="male" name="gender" value="1">
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="gender" value="0">
            <label for="female">Female</label>
            <br><br>
            <label for="height_cm">Height (cm)</label>
            <input type="number" id="height" name="height" min="0" class="form-control" style="width: 68px;">
            <br><br>
            <label for="weight">Weight (kg)</label>
            <input type="number" id="weight" name="weight" min="0" class="form-control" style="width: 68px;">
            <br><br>
            <label>Ever got married:</label><br>
            <input type="radio" id="married_yes" name="married" value="1">
            <label for="married_yes">Yes</label><br>
            <input type="radio" id="married_no" name="married" value="0">
            <label for="married_no">No</label>
            <br><br>
            <label for="work">Work Status:</label><br>
            <select id="work" name="work" class="form-control">
                <option value="0">Private</option>
                <option value="1">Self-Employed</option>
                <option value="2">Government</option>
                <option value="3">Children</option>
                <option value="4">Never Worked</option>
            </select>
            <br><br>
            <label>Residence:</label><br>
            <input type="radio" id="urban" name="residence" value="1">
            <label for="urban">Urban</label><br>
            <input type="radio" id="rural" name="residence" value="0">
            <label for="rural">Rural</label>
            <br><br>
            <label for="smoke">Smoking Status:</label><br>
            <select id="smoke" name="smoke" class="form-control">
                <option value="0">Unknown</option>
                <option value="1">Never</option>
                <option value="2">Former</option>
                <option value="3">Current</option>
            </select>
            <br><br>
            <label for="pregnancies">Number of Pregnancies:</label><br>
            <input type="number" id="pregnancies" name="pregnancies" min="0" class="form-control" style="width: 68px;">
            <br><br>
            <label>Chest Pain Type:</label><br>
            <select id="cp" name="cp" class="form-control">
                <option value="1">Typical Angina</option>
                <option value="2">Atypical Angina</option>
                <option value="3">Non-Anginal Pain</option>
                <option value="4">Asymptomatic</option>
            </select>
            <br><br>
            <input type="checkbox" id="exng" name="exng" value="1">
            <label for="exng">Exercise Induced Angina</label>
            <br><br>
            <input type="checkbox" id="heart_disease" name="heart_disease" value="1">
            <label for="heart_disease">Heart Disease</label>
            <br><br>
            <input type="submit" value="Save" style="margin: 0 50%; translate: -50% 0;">
        </div>
    </form>
    {% endblock %}