<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <script src="/static/scripts.js"></script>
    <title>Medical Lab System: {% block title %}{% endblock %}</title>
</head>
<body onload="highlight({{ tab }});">
    <div class="navbar">
        <div class="navbar-logo">🧪 Title</div>
        {% if session["user_id"] %}
            <ul class="navbar-tabs">
                <li class="navbar-tab">ℹ️ Information</li>
                <li class="navbar-tab">🗓️ Appointments</li>
                <li class="navbar-tab">📄 Results</li>
            </ul>
            <a class="logout" href="/logout">Log Out</a>
        {% endif %}
    </div>
    {% if session["user_id"] %}
        <div class="center">
            <div class="tab-bar">
                <div class="navbar-tab"><span>ℹ️</span>Information</div>
                <div class="navbar-tab"><span>🗓️</span>Appointments</div>
                <div class="navbar-tab"><span>📄</span>Results</div>
            </div>
        </div>
    {% endif %}
    {% if get_flashed_messages() %}
        <header>
            <div id="flash" class="alert alert-primary mb-0 text-center" role="alert">
                <span id="message"style=""> {{ get_flashed_messages() | join(" ") }} </span>
                <button id="close" onclick="closeFlash();">X</button>
            </div>
        </header>
        <style>
            main {
                margin-top: 75px;
            }
        </style>
    {% endif %}
    <main class="container py-5 text-center">
        {% block main %}{% endblock %}
    </main>
</body>
</html>