{% extends "layout.jinja" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <link href="/static/login.css" rel="stylesheet">
    <form action="/login" method="post">
        <p class="form-title">Sign in to your account</p>
        <input autocomplete="off" autofocus name="username" placeholder="Enter username" type="text">
        <input name="password" placeholder="Enter password" type="password">
        <button type="submit" class="submit">
         Sign in
        </button>
 
        <p class="signup-link">
         No account?
         <a href="/register">Sign up</a>
        </p>
    </form>
{% endblock %}
