{% extends "layout.jinja" %}

{% block title %}
    register
{% endblock %}

{% block main %}
    <link href="/static/login.css" rel="stylesheet">
    <form action="/register" method="post">
        <p class="form-title">Create a new account</p>
        <input autocomplete="off" autofocus name="username" placeholder="Enter username" type="text">
        <input name="password" placeholder="Enter password" type="password">
        <input name="confirmation" placeholder="Confirm password" type="password">
        <button class="submit" type="submit">Register</button>

        <p class="signup-link">
         Have an account?
         <a href="/">Sign in</a>
        </p>
    </form>
{% endblock %}
