form {
    background-color: #fff;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1rem;
    max-width: 400px;
    min-width: 250px;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input,
select {
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: .4rem;
    border: 1px solid #ced4da;
    color: black;
}

form div {
    width: fit-content;
    margin: auto;
    text-align: left;
}

form div * {
    margin: 8px 0;
}

.mid {
    margin-left: 50%;
    transform: translateX(-50%);
}

table {
    margin: auto;
    border-spacing: 1rem;
}

td {
    text-align: initial;
}

input[type=number] {
    width: 68px;
}

input:user-invalid {
    border-color: #e53e3e;
}

input:user-valid {
    border-color: #34d399;
}

#mailto {
    padding: 0.375rem 0.75rem;
    color: black;
    border: 1px solid #ced4da;
    border-radius: 0.4rem;
}