table {
    text-align: left;
    border-spacing: 1rem;
    background-color: #fff;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1rem;
    max-width: 400px;
    min-width: 250px;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mid {
    margin-left: 50%;
    transform: translateX(-50%);
}