body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 20px 0;
}

main {
    padding: 85px 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#message {
    margin: 0 auto;
}

#close {
    background-color: transparent;
    border: none;
    border-radius: 7px;
    margin-left: 5px;
    padding: 5px 5px;
}

#close:hover {
    background-color: rgba(63, 63, 63, 0.1);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    position: fixed !important;
    top: 0;
    width: 100vw;
    left: -20px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000ab;
    color: white;
    padding: 10px 20px;
}

#flash {
    position: fixed;
    top: 65px;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 15px;
    background-color: #cfe2ff;
    border: 1px solid #9ec5fe;
    padding: 10px 15px;
}

.navbar-logo {
    font-size: 24px;
    width: initial;
}

.highlight {
    background-color: #30303094;
}

.logout {
    text-decoration: none;
    color: white;
    font-size: 14px;
    width: initial;
    border-radius: 15px;
    padding: 4px 12px;
}

.navbar-tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-tab {
    display: flex;
    align-items: center;
    padding: 10px 17px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 15px;
}

.navbar-tab:hover,
.logout:hover {
    background-color: #adadad5e;
}

.navbar-tab span {
    margin-right: 8px;
    font-size: large;
}

@media (max-width: 768px) {
    #flash {
        width: 80vw;
        left: 5vw;
        top: 55px;
    }

    main {
        margin-top: 5px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-tabs {
        flex-direction: column;
        width: 100%;
        border-top: 1px solid #444;
    }

    .navbar-tab {
        width: 100%;
        justify-content: center;
    }

    .navbar-tab span {
        margin-right: 0;
        margin-bottom: 4px;
    }
}

.tab-bar {
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .navbar-logo {
        text-align: center;
    }

    .navbar-tabs {
        display: none;
    }

    .tab-bar {
        display: flex;
        justify-content: space-between;
        background-color: #000000ab;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        color: white;
        position: fixed;
        bottom: 2%;
        padding: 5px 0;
        border-radius: 20px;
        z-index: 9;
    }

    .tab-bar .navbar-tab {
        font-size: 13px;
        flex-direction: column;
        padding: 4px 14px;
        margin: 0 5px;
        border-radius: 15px;
        max-width: 100px;
    }
}

.btn {
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.blue {
    background-color: #007bff;
}

.blue:hover {
    background-color: #0056b3;
}

.red {
    margin-top: 2rem;
    background-color: #dc3545;
}

.red:hover {
    background-color: #c82333;
}

.white {
    filter: invert(1);
}