.table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 1rem;
    border-radius: 0.375rem;
    border: solid #dee2e6 1px;
    max-width: 510px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
    border-color: #dee2e6;
    caption-side: bottom;
    border-collapse: collapse;
    width: 100%;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    padding: .5rem;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}

table.sortable th::after,
th.sorttable_sorted::after,
th.sorttable_sorted_reverse::after {
    content: " ";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
}

th.sorttable_sorted::after {
    background: url(/static/scripts/Sortable/ascending.svg);
    background-size: cover;
    cursor: pointer;
}

th.sorttable_sorted_reverse::after {
    background: url(/static/scripts/Sortable/descending.svg);
    background-size: cover;
    cursor: pointer;
}

#sorttable_sortfwdind,
#sorttable_sortrevind {
    display: none;
}

img {
    height: 1rem;
}

.popUpFilter,
.flt {
    border-radius: 0.5rem;
}

thead>tr>th:not(:first-child) {
    transform: translateX(1rem);
}

.name {
    transform: translateX(15px);
}

.name>span {
    margin-left: 0.5rem;
}

.name>span>img {
    content: url(/static/scripts/TableFilter/search.svg);
    cursor: pointer;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort)::after {
    content: url(/static/scripts/Sortable/sort.svg);
    width: 0.6rem;
    cursor: pointer;
}

img {
    cursor: pointer;
}