{% extends "layout.jinja" %}

{% block title %}
Appointments
{% endblock %}

{% set tab_number = 1 %}

{% block main %}
<link rel="stylesheet" href="static/styles/table.css">
<script src="static/scripts/TableFilter/tablefilter.js"></script>

<h2>Appointments</h2>
{% if rows %}
<div class="table-container" style="max-width: 760px;">
    <table class="sortable">
        <thead>
            <tr>
                <th scope="col" class="sorttable_nosort" style="transform: translateX(15px);">Name</th>
                <th scope="col">Time</th>
                <th scope="col" class="sorttable_nosort">Location</th>
                <th scope="col" class="sorttable_nosort">Type</th>
                <th scope="col" class="sorttable_nosort">Fill</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>
                    <a href="/user?id={{row.user_id}}" style="color: black;">
                        {% if row.name %}{{row.name}}{% else %}{{row.username}}{%endif%}
                    </a>
                </td>
                <td>{{ row.time }}</td>
                <td>{{ row.location }}</td>
                <td>{{ row.type }}</td>
                <td><a href="/fill?id={{row.id}}">📃</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script data-config>
    // TableFilter settings
    var tfConfig = {
        base_path: "static/scripts/TableFilter/",
        col_widths: ["250px", "150px", "150px", "100px", "100px"],
        col_1: "none",
        col_2: "select",
        col_3: "select",
        col_4: "none",
        popup_filters: true,
        mark_active_columns: true,
        highlight_keywords: true,
        themes: [{
            name: 'transparent'
        }],
    };

    // Instantiate TableFilter
    var tf = new TableFilter(document.querySelector("table"), tfConfig);
    tf.init();
</script>
<script src="static/scripts/Sortable/sorttable.js"></script>

{% else %}
there's no appointments.
{% endif %}
{% endblock %}