{% extends "layout.jinja" %}

{% block title %}
Dashboard
{% endblock %}

{% set tab_number = 0 %}

{% block main %}
<link rel="stylesheet" href="static/styles/dashboard.css">
<script src="/static/scripts/chart.min.js"></script>
<h1>Dashboard</h1>
<div id="container">
    <h3 class="counter"><a href="/users" style="color:black;">Users Count: {{ stats[2] }}</a></h3>
    <h3 class="counter"><a href="/appointments" style="color:black;">Appointments: {{ stats[0] }}</a></h3>
    <h3 class="counter"><a href="/results" style="color:black;">Total Results: {{ stats[1] }}</a></h3>
    <div id="counters">
        <h3><a href="/users" style="color:black;">Users Count: {{ stats[2] }}</a></h3>
        <h3><a href="/appointments" style="color:black;">Appointments: {{ stats[0] }}</a></h3>
        <h3><a href="/results" style="color:black;">Total Results: {{ stats[1]}}</a></h3>
    </div>
    {% if stats[18] or stats[19] or stats[20] or stats[21] or stats[22] or stats[23] %}<canvas id="age"></canvas>{% endif %}
    {% if stats[3] or stats[4] %}<canvas id="gender"></canvas>{% endif %}
    {% if stats[5] %}<canvas id="married"></canvas>{% endif %}
    {% if stats[11] or stats[12] %}<canvas id="residence"></canvas>{% endif %}
    {% if stats[10] %}<canvas id="exng"></canvas>{% endif %}
    {% if stats[9] %}<canvas id="heart_disease"></canvas>{% endif %}
    {% if stats[6] or stats[7] or stats[8] %}<canvas id="smoke"></canvas>{% endif %}
    {% if stats[13] or stats[14] or stats[15] or stats[16] or stats[17] %}<canvas id="work"></canvas>{% endif %}
</div>


<script>
    {% if stats[18] or stats[19] or stats[20] or stats[21] or stats[22] or stats[23] %}
    var ageChart = new Chart(document.getElementById("age"), {
        type: 'bar',
        data: {
            labels: ["0-15", "16-30", "31-45", "46-60", "61-75", "76+"],
            datasets: [{
                data: [
                    {{ stats[18] }},
                    {{ stats[19] }},
                    {{ stats[20] }},
                    {{ stats[21] }},
                    {{ stats[22] }},
                    {{ stats[23] }}
                ],
        backgroundColor: ["#FF6384", "#36A2EB", "#FFCE56", "#4bc0c0", "#ff9f40", "#c9cbcf"],
    }]
        },
    options: {
        responsive: true,
        cutout: "80%",
        plugins: {
            title: {
                display: true,
                text: 'Age Distribution',
                font: {
                    size: 18
                }
            },
            legend: {
                display: false
            }
        }
    }
    });
    {% endif %}
    {% if stats[3] or stats[4] %}
    var genderChart = new Chart(document.getElementById("gender"), {
        type: 'doughnut',
        data: {
            labels: ["Male", "Female"],
            datasets: [{
                data: [{{ stats[3] }}, {{ stats[4] }}],
                backgroundColor: ["#36A2EB", "#FF6384"],
            }]
        },
        options: {
            responsive: true,
            cutout: "80%",
            plugins: {
                title: {
                    display: true,
                    text: 'Gender Distribution',
                    font: {
                        size: 18
                    }
                }
            }
        }
    });
    {% endif %}
    {% if stats[11] or stats[12] %}
    var residenceChart = new Chart(document.getElementById("residence"), {
        type: 'doughnut',
        data: {
            labels: ["Rural", "Urban"],
            datasets: [{
                data: [{{ stats[11] }}, {{ stats[12] }}],
                backgroundColor: ["#36A2EB", "#FFCE56"],
            }]
        },
        options: {
            responsive: true,
            cutout: "80%",
            plugins: {
                title: {
                    display: true,
                    text: 'Residence',
                    font: {
                        size: 18
                    }
                }
            }
        }
    });
    {% endif %}
    {% if stats[5] %}
    var marriedChart = new Chart(document.getElementById("is_married"), {
            type: 'doughnut',
            data: {
                labels: ["Married", "Not married"],
                datasets: [{
                    data: [{{ stats[5] }}, {{ stats[2] - stats[5] }}],
            backgroundColor: ["#36A2EB", "#c9cbcf"],
        }]
        },
        options: {
            responsive: true,
                cutout: "80%",
                plugins: {
                    title: {
                        display: true,
                            text: 'Marital Status',
                                font: {
                            size: 18
                        }
                    },
                    legend: {
                        display: false
                    }
            }
        }
    });
    {% endif %}
    {% if stats[10] %}
    var exngChart = new Chart(document.getElementById("exng"), {
        type: 'doughnut',
        data: {
            labels: ["No", "Yes"],
            datasets: [{
                data: [{{ stats[2] - stats[10] }}, {{ stats[10] }}],
                backgroundColor: ["#c9cbcf", "#FFCE56"],
            }]
        },
        options: {
            responsive: true,
            cutout: "80%",
            plugins: {
                title: {
                    display: true,
                    text: 'Exercise Induced Angina',
                    font: {
                        size: 18
                    }
                },
                legend: {
                    display: false
                }
            }
        }
    });
    {% endif %}
    {% if stats[9] %}
    var heartDiseaseChart = new Chart(document.getElementById("heart_disease"), {
        type: 'doughnut',
        data: {
            labels: ["Yes", "No"],
            datasets: [{
                data: [{{ stats[9] }}, {{ stats[2] - stats[9] }}],
                backgroundColor: ["#FF6384", "#c9cbcf"],
            }]
        },
        options: {
            responsive: true,
            cutout: "80%",
            plugins: {
                title: {
                    display: true,
                    text: 'Heart Disease',
                    font: {
                        size: 18
                    }
                },
                legend: {
                    display: false
                }
            }
        }
    });
    {% endif %}
    {% if stats[6] or stats[7] or stats[8] %}
    var smokeChart = new Chart(document.getElementById("smoke"), {
        type: 'pie',
        data: {
            labels: ["Current Smokers", "Former Smokers", "Never Smoked"],
            datasets: [{
                data: [{{ stats[6] }}, {{ stats[7] }}, {{ stats[8] }}],
                backgroundColor: ["#FF6384", "#36A2EB", "#FFCE56"],
            }]
        },
    options: {
        responsive: true,
            plugins: {
            title: {
                display: true,
                text: 'Smoking Status',
                font: {
                    size: 18
                }
            },
            legend: {
                labels: {
                    font: {
                        size: 14
                    }
                }
            }
        }
    }
    });
    {% endif %}
    {% if stats[13] or stats[14] or stats[15] or stats[16] or stats[17] %}
    var workChart = new Chart(document.getElementById("work"), {
        type: 'pie',
        data: {
            labels: ["Never Worked", "Private Work", "Self Employed", "Goverment", "Children"],
            datasets: [{
                data: [
                    {{ stats[13] }},
                    {{ stats[14] }},
                    {{ stats[15] }},
                    {{ stats[16] }},
                    {{ stats[17] }}
                ],
                backgroundColor: ["#FF6384", "#36A2EB", "#FFCE56", "#4bc0c0", "#c9cbcf"],
            }]
        },
    options: {
        responsive: true,
            plugins: {
            title: {
                display: true,
                text: 'Work Type',
                font: {
                    size: 18
                }
            },
            legend: {
                labels: {
                    font: {
                        size: 14
                    }
                }
            }
        }
    }
    });
    {% endif %}
</script>


{% endblock %}