{% extends "layout.jinja" %}

{% block title %}
Test Results Form
{% endblock %}

{% set tab_number = 1 %}

{% block main %}
<link rel="stylesheet" href="/static/styles/form.css">
<h2>Fill Test Results</h2>
<form action="/fill" method="post">

</form>
{% endblock %}