{% extends "layout.jinja" %}

{% block title %}
Test Results Form
{% endblock %}

{% set tab_number = 1 %}

{% block main %}
<link rel="stylesheet" href="/static/styles/form.css">
<h2>Fill Test Results</h2>

<form action="/fill?id={{id}}" method="post">
    <table>
        {% block fields %}{% endblock fields %}
    </table>
    <br><br>
    <button onclick="window.history.back()" class="btn" style="color:black;margin-right:4rem;">
        Go Back
    </button>
    <button class="blue btn" type="submit">Save</button>
</form>

{% endblock %}