{% extends "layout.jinja" %}

{% block title %}
User Information
{% endblock %}

{% set tab_number = tab %}

{% block main %}
<link rel="stylesheet" href="/static/styles/form.css">
<h2>User Information</h2>
<form action="/" method="post">
    <div>
        Username: &nbsp; {{ user["username"] }}<br><br>
        {% if user["full_name"] !=None %}
        <label for="full_name">Full Name</label><br>
        <input value="{{ user['full_name'] }}" type="text" id="full_name" name="full_name" disabled>
        <br><br>
        {% endif %}
        {% if user["email"] !=None %}
        <label for="email">Email</label><br>
        <a href="mailto:{{user['email']}}" id="mailto">
            {{ user['email'] }}
        </a>
        <br><br>
        {% endif %}
        {% if user["birth_year"] !=None %}
        <label for="birth_year">Birth Year: </label>
        <input value="{{ user['birth_year'] }}" type="number" id="birth_year" name="birth_year" min="1900"
            max="{{current_year}}" style="width: 68px;" disabled>
        <br><br>
        {% endif %}
        {% if user["gender"] !=None %}
        <label>Gender:</label><br>
        <input type="radio" id="male" name="gender" value="1" {% if user["gender"] %} checked {% endif %} disabled>
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="0" {% if user["gender"]==0 %} checked {% endif %} disabled>
        <label for="female">Female</label>
        <br><br>
        {% endif %}
        {% if user["height"] !=None %}
        <label for="height">Height (cm)</label>
        <input value="{{ user['height'] }}" type="number" id="height" name="height" min="0" style="width: 68px;"
            disabled>
        <br><br>
        {% endif %}
        {% if user["weight"] !=None %}
        <label for="weight">Weight (kg)</label>
        <input value="{{ user['weight'] }}" type="number" id="weight" name="weight" min="0" style="width: 68px;"
            disabled>
        <br><br>
        {% endif %}
        {% if user["married"] !=None %}
        <label>Ever got married:</label><br>
        <input type="radio" id="married_yes" name="married" value="1" {% if user["married"] %} checked {% endif %}
            disabled>
        <label for="married_yes">Yes</label><br>
        <input type="radio" id="married_no" name="married" value="0" {% if user["married"]==0 %}checked{% endif %}
            disabled>
        <label for="married_no">No</label>
        <br><br>
        {% endif %}
        {% if user["work"] !=None %}
        <label for="work">Work Status:</label><br>
        <select id="work" name="work" disabled>
            <option value="0" {% if user["work"]==0 %} selected {% endif %}>Never Worked</option>
            <option value="1" {% if user["work"]==1 %} selected {% endif %}>Private</option>
            <option value="2" {% if user["work"]==2 %} selected {% endif %}>Self-Employed</option>
            <option value="3" {% if user["work"]==3 %} selected {% endif %}>Government</option>
            <option value="4" {% if user["work"]==4 %} selected {% endif %}>Children</option>
        </select>
        <br><br>
        {% endif %}
        {% if user["residence"] !=None %}
        <label>Residence:</label><br>
        <input type="radio" id="urban" name="residence" value="1" {% if user["residence"] %} checked {% endif %}
            disabled>
        <label for="urban">Urban</label><br>
        <input type="radio" id="rural" name="residence" value="0" {% if user["residence"]==0 %} checked {% endif %}
            disabled>
        <label for="rural">Rural</label>
        <br><br>
        {% endif %}
        {% if user["smoke"] !=None %}
        <label for="smoke">Smoking Status:</label><br>
        <select id="smoke" name="smoke" disabled>
            <option value="0" {% if user["smoke"]==0 %} selected {% endif %}>Unknown</option>
            <option value="1" {% if user["smoke"]==1 %} selected {% endif %}>Never</option>
            <option value="2" {% if user["smoke"]==2 %} selected {% endif %}>Former</option>
            <option value="3" {% if user["smoke"]==3 %} selected {% endif %}>Current</option>
        </select>
        <br><br>
        {% endif %}
        {% if user["pregnancies"] !=None %}
        <label for="pregnancies">Number of Pregnancies:</label><br>
        <input value="{{ user['pregnancies'] }}" type="number" id="pregnancies" name="pregnancies" min="0"
            style="width: 68px;" disabled>
        <br><br>
        {% endif %}
        {% if user["exng"] !=None %}
        <input type="checkbox" id="exng" name="exng" value="1" checked disabled>
        <label for="exng">Exercise Induced Angina</label>
        <br><br>
        {% endif %}
        {% if user["heart_disease"] !=None %}
        <input type="checkbox" id="heart_disease" name="heart_disease" value="1" checked disabled>
        <label for="heart_disease">Heart Disease</label>
        <br><br>
        {% endif %}
        <button onclick="window.history.back()" class="mid btn" style="color: black;">
            Go Back
        </button>
    </div>
</form>
{% endblock %}