{% extends "layout.jinja" %}

{% block title %}
Appointments
{% endblock %}

{% set tab = 1 %}

{% block main %}
<link rel="stylesheet" href="static/table.css">
<h2>Appointments</h2>
{% if rows %}
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Location</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row.time }}</td>
                <td>{{ row.location}}</td>
                <td>{{ row.type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
You have no appointments.
{% endif %}
<br><a href="/appoint"><button>New Appointment</button></a>
{% endblock %}