{% extends "layout.jinja" %}

{% block title %}
Appointments
{% endblock %}

{% set tab = 1 %}

{% block main %}
<link rel="stylesheet" href="/static/form.css">
<h2>Appointments</h2>
<form action="/appoint" method="post">
    <div>
        <label for="type">Type:</label><br>
        <select id="type" name="type" required>
            {% for type in types %}
            <option value="{{ type.id }}">{{ type.name }}</option>
            {% endfor %}
        </select><br>
        <label for="location">Location:</label><br>
        <select id="location" name="location" required>
            {% for location in locations %}
            <option value="{{ location.id }}">{{ location.name }}</option>
            {% endfor %}
        </select><br>
        <label for="birthday">Day:</label><br>
        <input type="date" min="{{ current_date }}" required><br>
        <label for="time">Time:</label><br>
        <input type="time" id="time" name="time" required><br>
        <button id="save" type="submit">Create Appointment</button>
    </div>
</form>
{% endblock %}