<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/logo.ico">
    <link href="/static/styles.css" rel="stylesheet">
    <script src="/static/scripts.js"></script>
    <script src="/static/htmx.js"></script>
    <title>Medical Lab System: {% block title %}{% endblock %}</title>
</head>

<body onload="highlight( {{ tab }} );">
    <div class="navbar">
        <div class="navbar-logo"><img src="/static/logo.svg" style="height: 1.7rem; translate: -15% 15%;">IntelliPath
        </div>
        {% if session["user_id"] %}
        <ul class="navbar-tabs">
            <a class="navbar-tab" href="/">ℹ️ Information</a>
            <a class="navbar-tab" href="/appointments">🗓️ Appointments</a>
            <a class="navbar-tab" href="/results">📄 Results</a>
        </ul>
        <a class="logout" href="/logout">Log Out</a>
        {% endif %}
    </div>
    {% if session["user_id"] %}
    <div class="center">
        <div class="tab-bar">
            <a class="navbar-tab" href="/"><span>ℹ️</span>Information</a>
            <a class="navbar-tab" href="/appointments"><span>🗓️</span>Appointments</a>
            <a class="navbar-tab" href="/results"><span>📄</span>Results</a>
        </div>
    </div>
    {% endif %}
    {% if get_flashed_messages() %}
    <header>
        <div id="flash" class="alert" role="alert">
            <span id="message" style=""> {{ get_flashed_messages() | join(" ") }} </span>
            <button id="close" onclick="closeFlash();">X</button>
        </div>
    </header>
    <style>
        main {
            margin-top: 75px;
        }
    </style>
    {% endif %}
    <main>
        {% block main %}{% endblock %}
    </main>
</body>

</html>