{% extends "layout.jinja" %}

{% block title %}
Appointments
{% endblock %}

{% set tab_number = 1 %}

{% block main %}
<link rel="stylesheet" href="static/table.css">
<script src="static/TableFilter/tablefilter.js"></script>

<h2>Appointments</h2>
{% if rows %}
<div class="table-container">
    <table class="sortable">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col" class="sorttable_nosort">Location</th>
                <th scope="col" class="sorttable_nosort">Type</th>
                <th scope="col" class="sorttable_nosort">cancel</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row.time }}</td>
                <td>{{ row.location }}</td>
                <td>{{ row.type }}</td>
                <td><a href="/remove?id={{row.id}}">🗑</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script data-config>
    // TableFilter settings
    var tfConfig = {
        base_path: "static/TableFilter/",
        col_0: "none",
        col_1: "select",
        col_2: "select",
        col_3: "none",
        popup_filters: true,
        mark_active_columns: true,
        highlight_keywords: true,
        themes: [{
            name: 'transparent'
        }],
    };

    // Instantiate TableFilter
    var tf = new TableFilter(document.querySelector("table"), tfConfig);
    tf.init();
</script>
<script src="static/Sortable/sorttable.js"></script>

{% else %}
You have no appointments.
{% endif %}
<br><a href="/appoint"><button class="blue btn" style="margin-top: 1rem;">New Appointment</button></a>
{% if rows %}<br><a href="/clear"><button class="red btn">Delete All Appointments</button></a>{% endif %}
{% endblock %}