{% extends "layout.jinja" %}

{% block title %}
Appointments
{% endblock %}

{% set tab_number = 1 %}

{% block main %}
<link rel="stylesheet" href="/static/styles/form.css">
<h2>Schedule an Appointment</h2>
<!-- should use anti-CSRF tokens  -->
<form action="/schedule" method="post">
    <div>
        <label for="test">Type:</label><br>
        <select id="test" name="test" required>
            {% for test in tests %}
            <option value="{{ test.id }}">{{ test.name }}</option>
            {% endfor %}
        </select><br>
        <label for="location">Location:</label><br>
        <select id="location" name="location" required>
            {% for location in locations %}
            <option value="{{ location.id }}">{{ location.name }}</option>
            {% endfor %}
        </select><br>
        <label for="date">Day:</label>
        <br>
        <input type="date" id="date" name="date" min="{{ current_date }}" required hx-get="/periods" hx-target="#time"
            hx-trigger="change, change from:[name='test'], change from:[name='location']"
            hx-include="[name='test'], [name='date'], [name='location']" > 
        <br>
            
        <label for="time">Time:</label><br>
        <select id="time" name="time" required>
            <option disabled>pick a day first</option>
        </select><br><br>
        <button class="blue btn" type="submit">Create Appointment</button><br>
        <button onclick="window.history.back()" class="mid btn" style="color: black; min-width: 85px;">
            Go Back
        </button>
    </div>
</form>
{% endblock %}